* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  GENERAL  */
body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: .5rem .8rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* --------------- */
header {
    padding: 1rem 1.5rem;
}

header img {
    vertical-align: bottom;
}

header h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin-left: .2rem;
    line-height: 3.5rem;
}

main {
    width: 100%;
    background-color: #f6f8f9;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

li span {
    display: inline-block;
}

div.container {
    max-width: 80%;
    margin: 0 auto;
}

div.btn-bar {
    padding: 1.5rem 3rem 0.8rem;
    border-radius: 8px 8px 4px 4px;
    margin-bottom: 0.2rem;
}

div.todo-list {
    padding: 1rem 4.5rem 2.5rem;
    border-radius: 4px 4px 8px 8px;
}

li.li-title {
    list-style-type: disclosure-open;
    margin-top: 1.5rem;
}

li.task {
    list-style-type: none;
    margin-top: .7rem;
}

span.mark {
    width: 1.3rem;
    height: 1.3rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 900;
    padding: 0.1rem;
    margin-right: .4rem;
    vertical-align: bottom;
}

span.tag {
    margin-left: .1rem;
    font-size: 0.6rem;
    padding: .3rem .6rem;
    border-radius: 20px;
    text-align: center;
    vertical-align: bottom;
}

#add-section {
    border: 1px solid lightgrey
}

/* ------------- 
    COLOR STYLE   
   ------------- */
.font-white {
    color: white;
}

.font-lightgrey {
    color: lightgrey
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: #47adf1;
}

span.check {
    color: #7ac9b5;
}

span.cross {
    color: red;
}

/*  Tag  */
.tag-blue {
    background-color: #45abea;
}

.tag-violet {
    background-color: #9c72e4;
}

.tag-green {
    background-color: #64c0a9;
}

.tag-orange {
    background-color: #f29e33;
}

.tag-magenta {
    background-color: #d863a1;
}

.tag-limon {
    background-color: #b0c926;
}